.App {
    text-align: center;
    position: relative;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #f06;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: calc(50% - 40px);
    top: 50vh;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

ul {
    list-style: none;
    padding: 0 !important;
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
}

nav ul li {
    padding: 1em 2em;
    /* background-color: #363636; */
    border-radius: 0.5em;
}

nav ul li a {
    text-decoration: none;
    color: #f06;
}

.users {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
    flex-wrap: wrap;
}

.users li {
    width: calc(100% / 6);
}

.users li img {
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em #282c3430;
}

.gallery-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery-box .card {
    width: calc(25% - 2em);
    margin: 1em;
    background-color: #fff;
    box-shadow: 0 0.5em 1em #282c3430;
    border-radius: 0.5em;
}

.gallery-box .card img {
    width: 100%;
    height: 14em;
    object-fit: cover;
    border-radius: 0.5em 0.5em 0 0;
}

h1 {
    font-size: 5.5em;
    color: #444;
    font-weight: normal;
}

h2 {
    font-weight: 100;
}

h3 {
    color: #f06;
    font-weight: 400;
}

button {
    padding: 0.7em 1.2em;
    font-size: 1.1em;
    background: #f06;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}